.loader-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: lightgray;
    opacity: 0.6;
}

.loader{
    position: relative;
    top: 40%;
    left: 50%;
    /* bottom: 50%; */
    border: 1px solid #00A1E0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader2{
    position: relative;
    top: 19%;
    left: 50%;
    /* bottom: 50%; */
    border: 1px solid #00A1E0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    animation-name: loading2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes loading{
    from{
        transform: scale(0,0);
    }

    to{
        transform: scale(2,2);
    }
}

@keyframes loading2{
    from{
        transform: scale(0,0);
    }

    to{
        transform: scale(3,3);
    }
}