.animator {
  animation: anim-one 5s infinite;
}

@keyframes anim-one {
  0% {
    background-color: green;
    color: black;
  }
  50% {
    background-color: red;
    color: white;
    font-size: 20px;
  }
  100% {
    font-size: 12px;
  }
}

lightning-button.btn-animator .slds-button_neutral:hover {
  /*animation: anim-btn 5s infinite;*/
  animation: 5s anim-btn infinite;
}

lightning-button.btn-animator {
  color: red;
}

.btn-animator:hover {
  color: red;
  /*animation: anim-btn 5 infinite;*/
  animation: 5s anim-btn infinite;
}

@keyframes anim-btn {
  0% {
    background-color: #fff;
    color: black;
    opacity: 0.5;
  }
  100% {
    background-color: black;
    color: #fff;
    opacity: 1;
  }
}

.required:before {
  content: "*";
  color: red;
}